# The port that the server will listen on
PORT=

# The environment the server is running in
NODE_ENV=



PROD_MONGO_URI=
MONGO_COLLECTION_NAMES=
TRANSFORMER_COLLECTION_NAMES=


PG_TABLE_NAMES=
TRANSFORMER_TABLE_NAMES=


PROD_PG_DB=
PROD_PG_HOST=
PROD_PG_PASS=
PROD_PG_PORT=
PROD_PG_SSL_CA=
PROD_PG_USER=

QA_MONGO_URI=

QA_PG_HOST=
QA_PG_PORT=
QA_PG_DB=
QA_PG_USER=
QA_PG_PASS=
QA_PG_SSL_CA=